---
interface Props {
	
}

const {} = Astro.props;
---

<article class="w-60">
	<figure>
		<img src="hero-image-business-card.png" alt="">
	</figure>
	<h1>Perfect solution for small business</h1>
	<p>Small businesses need to generate leads to grow. You can use tools like Ringy.</p>
	<section class="border-t-2">
		<img src="avatar-image-business-card.png" alt="photo perfil" class="rounded-full w-11 border-4 ">
		<p>Amy Burgess</p>
		<p>Customer Manger, Solution Oy</p>
	</section>
</article>
